# Node modules
node_modules/

# Env files
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime files
pids/
*.pid
*.seed

# Optional npm cache directory
.npm

# dotenv environment files
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
